.registration-container {
    z-index: 2;
    padding: 115px 0 125px;
    margin-right: 95px;
}

.registration-form {
    display: flex;
    align-items: center;
    height: 693px;
    width: 580px;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
}

.registration-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.7px;
    margin: 100px auto 35px;
    padding: 0;
}

.registration-input {
    height: 72px;
    width: 430px;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 18px;
}

.registration-btn {
    display: flex;
    height: 32px;
    margin: 15px 0 5px 0;
    padding: 10px 40px;
    width: 460px;
    height: 61px;
    background-color: #0165FF;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: black;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.registration__error-container {
    display: flex;
    height: 20px;
}

.registration__error-message {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    color: red;
}

.registration__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}

.registration__links {
    display: flex;
    gap: 30px;
    margin: 15px 0 20px 0;
}

.registration__link {
    width: 38px;
    height: 38px;
    background-position: center;
    background-repeat: no-repeat;
}

.registration__link-google {
    background-image: url(../../images/google.svg);
}

.registration__link-facebook {
    background-image: url(../../images/fb.svg);
}

.registration__link-apple {
    background-image: url(../../images/apple.svg);
}

.registration__caption {
    font-size: 16px;
    color: #959595;
    margin: 0;
    margin-top: 16px;
    letter-spacing: -0.2px;
}

.registration__caption:last-of-type {
    margin-top: 10px;
}

.registration__login-link {
    font-size: 16px;
    text-decoration: none;
    color: #0165FF;
}

.registration__terms-link {
    font-size: 16px;
    color: #727272;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}


/* 1st transistion */

@media screen and (max-width: 1550px) {

    .registration-container {
        z-index: 2;
        padding: 115px 0 125px;
        margin-right: 95px;
    }
}

/* 2nd transistion */

@media screen and (max-width: 1350px) {

    .registration-container {
        z-index: 2;
        padding: 115px 0 125px;
        margin-right: 95px;
    }

    .registration-form {
        height: 624px;
        width: 522px;
    }

    .registration-title {
        margin: 60px auto 35px;
    }

    .registration-input {
        height: 60px;
    }
}

/* 3rd transistion */

@media screen and (max-width: 1199px) {

    .registration-container {
        z-index: 2;
        padding: 115px 0 125px;
        margin-right: 95px;
    }

    .registration-form {
        height: 561px;
        width: 470px;
    }

    .registration-title {
        margin: 30px auto 35px;
        font-size: 25px;
        line-height: 30px;
    }

    .registration-input {
        height: 50px;
        width: 370px;
    }

    .registration-btn {
        font-size: 20px;
        line-height: 25px;
        width: 400px;
    }

}
/* 4th transistion */

@media screen and (max-width: 900px) {

    .registration-container {
        z-index: 2;
        padding: 70px 0;
        margin-right: 40px;
    }

    .registration-form {
        height: 476px;
        width: 370px;
    }

    .registration-title {
        margin: 30px auto 30px;
        font-size: 25px;
        line-height: 30px;
    }

    .registration-input {
        height: 50px;
        width: 250px;
        font-size: 12px;
    }

    .registration-btn {
        font-size: 17px;
        line-height: 20px;
        width: 300px;
        height: 45px;
        padding: 0;
    }

    .registration__link {
        width: 25px;
        height: 25px;
        background-size: contain;
    }

    .registration__text {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }

    .registration__links {
        gap: 30px;
        margin: 5px 0;
    }

    .registration__caption {
        font-size: 12px;
    }

    .registration__login-link {
        font-size: 12px;
    }
    
    .registration__terms-link {
        font-size: 12px;
    }
    

}

/* 5th transistion */

@media screen and (max-width: 900px) {

    .registration-container {
        z-index: 2;
        padding: 70px 0;
        margin-right: 40px;
    }

    .registration-form {
        height: 476px;
        width: 370px;
    }

    .registration-title {
        margin: 30px auto 30px;
        font-size: 25px;
        line-height: 30px;
    }

    .registration-input {
        height: 50px;
        width: 250px;
        font-size: 12px;
    }

    .registration-btn {
        font-size: 17px;
        line-height: 20px;
        width: 300px;
        height: 45px;
        padding: 0;
    }

    .registration__link {
        width: 25px;
        height: 25px;
        background-size: contain;
    }

    .registration__text {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }

    .registration__links {
        gap: 30px;
        margin: 5px 0;
    }

    .registration__caption {
        font-size: 12px;
    }

    .registration__login-link {
        font-size: 12px;
    }
    
    .registration__terms-link {
        font-size: 12px;
    }
}

/* 6th transistion */

@media screen and (max-width: 659px) {

    .registration-container {
        z-index: 2;
        padding: 0;
        margin-right: 0px;

    }

    .registration-form {
        height: 476px;
        width: 370px;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {

    .registration-container {
        z-index: 2;
        padding: 0;
        margin-right: 0px;
        width: 100%;
    }

    .registration-form {
        height: 476px;
        width: 100%;
        border-radius: 0;
    }
}